

#specialramitis{
    border-style: dashed;
    border-color: black;
    padding-bottom: 10px;
    margin: auto;

}

.prasmesr{
    border-style: groove;
    border-color: rgb(143, 15, 15);
}
#veryspecialramitis{
    border-style: dashed;
    border-color: blue;
    margin: auto;
    padding: 20px;
    width: auto;
    display: grid;
    grid-template-columns: 30% 70%;
}

.specialramitis1{
    border-style: dashed;
    border-color: black;
    padding-bottom: 10px;
    padding-left: 400px;
    margin: auto;
}